// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
	width: 450px;
}

.image {
	width: 450px;
}

body {
  background-image: url("http://198.20.70.218/~musictra/new_age/background.jpg");
    background-color: #cccccc;
}

h1 {
color: white;
}

#wrapper {
  width: 800px;
  margin: auto;
}
